<div [ngClass]="{'hide': hideUserData}">
  <h1>User Details </h1>
  <ul>
    <li>ID: {{userData[0].data.id}}</li>
    <li>Email: {{userData[0].data.email}} </li>
    <li>First Name: {{userData[0].data.first_name}}</li>
    <li>Last Name: {{userData[0].data.last_name}}</li>
    <img src={{userData[0].data.avatar}} alt="avatar_img">
  </ul>
</div>

<h1 [ngClass]="{'hide': hideAlertMessage}">You don't have access, please Login!</h1>