<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="email" formControlName="email" />
  <input type="password" formControlName="password" />
  <button type="submit">Login</button>
</form>

<h3 [ngClass]="{'hide': !h3Show}">You need write your email and password</h3>