<div [ngClass]="{'hide': hideUserList}">
  <h1>User List Page: {{page}}</h1>
  <div>
    <tbody class="border">
      <tr>
        <th class="id-column">Id</th>
        <th class="email-column">Email</th>
        <th class="name-column">Name</th>
      </tr>
      <tr *ngFor="let user of users; index as i">
        <td class="id-column" (click)="viewUserDetails(user.id)">{{user.id}}</td>
        <td class="email-column" (click)="viewUserDetails(user.id)">{{user.email}}</td>
        <td class="name-column" (click)="viewUserDetails(user.id)">{{user.first_name}}</td>
      </tr>
    </tbody>
  </div>
  <button (click)="nextPage()" *ngIf="page < 2">Next</button>
  <button (click)="prevPage()" *ngIf="page > 1">Prev</button>
</div>
<h1 [ngClass]="{'hide': hideAlertMessage}">You don't have access, please Login!</h1>